.background-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 0vh;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* Standard syntax */
}

.acceuil {
    text-transform: capitalize;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;

}

p {
    padding: 5%;
    font-size: 1.5rem;
}

.scroll-animate {
    opacity: 0;
    /* Par défaut, l'élément est transparent */
    transform: translateY(20px);
    /* Par défaut, déplacez l'élément vers le bas */
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Ajoutez une transition pour une animation fluide */
}

.scroll-animate.animate {
    opacity: 1;
    /* Lorsque la classe "animate" est ajoutée, l'élément devient opaque */
    transform: translateY(0);
    /* Lorsque la classe "animate" est ajoutée, l'élément revient à sa position initiale */
}

.descriptionP {
    font-weight: 300;
}



.description {
    display: none;
    transition: all 0.3s ease;
}

.table-hover:hover .description {
    display: block;
}

span {
    font-weight: bold;
    font-size: 1rem;
}

.inscrire {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}