.background-wrapper {
    position: relative;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Assurez-vous que la vidéo couvre tout le conteneur */
    z-index: -1;
    /* Mettez la vidéo en arrière-plan par rapport au texte */
}


.scroll-animate {
    opacity: 0;
    /* Par défaut, l'élément est transparent */
    transform: translateY(20px);
    /* Par défaut, déplacez l'élément vers le bas */
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Ajoutez une transition pour une animation fluide */
}

.scroll-animate.animate {
    opacity: 1;
    /* Lorsque la classe "animate" est ajoutée, l'élément devient opaque */
    transform: translateY(0);
    /* Lorsque la classe "animate" est ajoutée, l'élément revient à sa position initiale */
}

/* Personnalisation de l'apparence de la section "Pourquoi Nous Rejoindre?" */
#pourquoinous {
    padding: 80px 0;
    /* Ajuster l'espacement selon vos préférences */
}



/* Style pour les paragraphes dans la liste */
#pourquoinous p {
    font-size: 1.5rem;
    /* Taille de police personnalisée */
    line-height: 1.6;
    /* Hauteur de ligne personnalisée */
}






#acceuil {
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
    /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
}

.acceuil-title {
    font-size: 7rem;
    font-weight: bold;
    color: white
}

.acceuil-subtitle {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.acceuil-subsubtitle {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.charte {
    font-size: 1rem;
    max-width: 800px;
    margin-left: 20px;

}

.small-image {
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
}

.titre-charte {
    text-align: center;
}


.card-custom {
    height: 500px;
    border: 3px solid #122D64;
    font-size: 1rem;
    font-weight: 550;
}

.fixed-height {
    margin-bottom: 10%;
    text-align: center;
    color: #122D64;
}


#formations {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.section-title {
    color: #122D64;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #122D64;
}


.description {
    display: none;
    transition: all 0.3s ease;
}

.table-hover:hover .description {
    display: block;
}

span {
    font-weight: bold;
    font-size: 1rem;
}

.section-title {
    text-align: center;
}



#partenaire {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#partenaire img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#partenaire img:not(:first-child) {
    width: 200px;
    /* Ajustez la taille selon vos besoins */
    height: auto;
    /* Pour conserver les proportions de l'image */
    transform-origin: 100% 50%;
}

#partenaire img:nth-child(2) {
    transform: translate(-50%, -50%) rotate(10deg) translateX(300px) rotate(-10deg);
}

#partenaire img:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateX(300px) rotate(-60deg);
}

#partenaire img:nth-child(4) {
    transform: translate(-50%, -50%) rotate(135deg) translateX(300px) rotate(-135deg);
}

#partenaire img:nth-child(5) {
    transform: translate(-50%, -50%) rotate(180deg) translateX(300px) rotate(-180deg);
}


/* Style pour le bouton */
.call-btn {
    background-color: transparent;
    color: #122D64;
    border: 4px solid #122D64;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
}

.call-btn:hover {
    background-color: #122D64;
    color: #122D64;
    /* Couleur du texte au survol */
    box-shadow: 0 0 60px #122D64;
    transform: scale(1.1);
}

.call-btn a {
    color: inherit;
    text-decoration: none;
}

.inscrire {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.recrute {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.sous-titre-charte {
    color: #122D64;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


/* Ajouter une animation de flottement uniquement à la classe bouton-flottant */
@keyframes floating {
    50% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Styliser le bouton avec la classe bouton-flottant */
.bouton-flottant {
    /* Ajouter des styles de base */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #122D64;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    /* Ajouter l'animation de flottement */
    animation: floating 2s infinite;
}

/* Styliser le lien à l'intérieur du bouton */
.bouton-flottant a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 1200px) {
    #acceuil {
        margin-top: 20%;
        margin-bottom: 12%;
        text-align: center;
        /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
    }

    .acceuil-title {
        font-size: 2rem;
    }

    .acceuil-subtitle {
        font-size: 1.5rem;
    }

    .acceuil-subsubtitle {
        font-size: 0.8rem;
    }



    .small-image {
        max-width: 20px;
        max-height: 20px;
        width: auto;
        height: auto;
    }
}