.nav-link {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar.fixed-top {
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background-color: transparent !important;
}

.no-arrow .dropdown-toggle::after {
    display: none !important;
}

a {
    text-decoration: none;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

@media (min-width: 1200px) {
    .navbar-nav {
        margin-left: 250px;
    }

    .nav-item {
        margin-left: 20px;
    }
}



@media (max-width: 1200px) {
    .navbar-brand img {
        width: 60px;
        height: auto;
    }
}